@model GenreListViewModel
@{
    ViewData["Title"] = "City Builder Games";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Next to Text</title>
    <style>
        .container {
            display: flex;
            align-items: center;
            margin: 50px
        }

            .container img {
                max-width: 300px;
                min-width: 300px;
                margin-right: 20px;
            }

        .text {
            display: flex;
            flex-direction: column;
        }

            .text p {
                font-size: 16px;
                margin: 0;
            }
    </style>
</head>
<body>
    <div class="container">
        <img src="https://www.metacritic.com/a/img/catalog/provider/6/12/6-1-780746-52.jpg" alt="cities skylines">

        <div class="text">
            <h1>Cities Skylines</h1>
            <p>Released by Colossal Order and Paradox in 2015, Cities Skylines is widely regarded to be the spiritual successor to the classic SimCity series. Cities Skylines allows you to create energetic cities with intricate roads, dynamic traffic, and various industries.</p>
        </div>

    </div>
    <div class="container">
        <img src="https://tse3.mm.bing.net/th/id/OIP.IgPwYGNyBfXNHbls-9daQwHaJ5?pid=ImgDet&w=474&h=633&rs=1&o=7&rm=3" alt="sim city">

        <div class="text">
            <h1>SimCity</h1>
            <p>Considered to be one of the City Building genre’s progenitors, SimCity (1989, Will Wright) laid the foundation for future entries with it’s city management gameplay. In it, players must manage natural disasters, infrastrucural demand, and roadways to create a thriving cityscape.</p>
        </div>

    </div>
    <div class="container">
        <img src="https://tse2.mm.bing.net/th/id/OIP.bVdhvnfVIX-RJdMAtYXOKwHaLH?pid=ImgDet&w=474&h=711&rs=1&o=7&rm=3" alt="civ 7">

        <div class="text">
            <h1>Sid Meier's Civilization VII'</h1>
            <p>Sid Meier’s Civilization VII (2025) is the most recent entry in the beloved Sid Meier’s series. It offers a streamlined and graphically impressive rendition of the well-known formula, although some players have rebuked it for it’s poor performance.</p>
        </div>

    </div>
</body>
</html>
