@model GenreListViewModel
@{
    ViewData["Title"] = "Hero Shooter Games";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Next to Text</title>
    <style>
        .container {
            display: flex;
            align-items: center;
            margin: 50px
        }

            .container img {
                max-width: 300px;
                min-width: 300px;
                margin-right: 20px;
            }

        .text {
            display: flex;
            flex-direction: column;
        }

            .text p {
                font-size: 16px;
                margin: 0;
            }
    </style>
</head>
<body>
    <div class="container">
        <img src="https://s3.gamescribe.io/high/e919e5df-d557-5925-5b67-b464e4251dea.jpg" alt="Puck">

        <div class="text">
            <h1>Puck</h1>
            <p>Puck is a physics-based, first person hockey game that focuses on competitive team play. It can be found on steam for free since its' release on January 4th, 2025. There is large community support through discord and modding support as well through the steam workshop.</p>
        </div>

    </div>
    <div class="container">
        <img src="https://sm.ign.com/t/ign_sr/cover/p/pga-tour-2/pga-tour-2k25_5w3h.1200.jpg" alt="PGA">
        <div class="text">
            <h1>PGA Tour 2K25</h1>
            <p>PGA Tour 2K25 is a golf game released by EA Sports on February 27th, 2025 for Winodws, Playstation, and Xbox. There is a wide range of gameplay experiences such as ranked matchmaking, team matches, Top Golf range practice, and a course designer. There are also cosmetic outfits and clubs to customize your golfer.</p>
        </div>

    </div>
    <div class="container">
        <img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/1874170/692bfbac3b5e6b7c8a63d89215b58403cafeaf61/header.jpg?t=1764931949" alt="Shredders">
        <div class="text">
            <h1>Shredders</h1>
            <p>Shredders is a snowboard simulator that provides a unique experience with a large range of trick options on jumps and rails. The game was released on March 16th, 2022 for Windows, Playstation, and Xbox. The game supports modding and character customization, with custom gear and maps to keep gameplay fresh and inviting.</p>
        </div>

    </div>
</body>
</html>