@model GenreListViewModel
@{
    ViewData["Title"] = "Platformer Games";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Next to Text</title>
    <style>
        .container {
            display: flex;
            align-items: center;
            margin: 50px
        }

            .container img {
                max-width: 300px;
                min-width: 300px;
                margin-right: 20px;
            }

        .text {
            display: flex;
            flex-direction: column;
        }

            .text p {
                font-size: 16px;
                margin: 0;
            }
    </style>
</head>
<body>
    <div class="container">
        <img src="https://static.wikia.nocookie.net/nintendo/images/2/28/New_Super_Mario_Bros._Wii_%28NA%29.png/revision/latest?cb=20240314050522&path-prefix=en" alt="Ark Survival Ascended">

        <div class="text">
            <h1>Ark Survival Ascended</h1>
            <p>Ark Survival Ascended was released on October 26th, 2023 as a sequel to the popular Ark Survival Evolved. The game is supported on Windows, Playstation, and Xbox, and features an island survival experience where the user has to build shelter, tools, and fight off dinosaurs.</p>
        </div>

    </div>
    <div class="container">
        <img src="https://tse1.mm.bing.net/th/id/OIP._ISAvlJJHOLBU0-oj1XJnQHaKb?pid=ImgDet&w=474&h=667&rs=1&o=7&rm=3" alt="The Planet Crafter">

        <div class="text">
            <h1>The Planet Crafter</h1>
            <p>Planet Crafter is a survival game released on winodws on April 10th, 2024. The user lands on a mysterious planet and must terraform the planet to support life by creating a breatheable atmosphere, producing energy, and control the climate.</p>
        </div>

    </div>
    <div class="container">
        <img src="https://www.mobygames.com/images/covers/l/509971-hollow-knight-voidheart-edition-playstation-4-front-cover.jpg" alt="Minecraft">

        <div class="text">
            <h1>Minecraft</h1>
            <p>Minecraft is currently free to play on Windows, Playstation, and Xbox. It was released on November 18th, 2011, and several updates have been added since to keep users engaged. Minecraft is an open-world survival game on an infinitely generated world where the user must harvest resources to build tools, shelter, and armor to defeat monsters and kill bosses. There are servers hosted with various mods to tailor the experience to different styles of gameplay such as fighting, building, and almost anything you can think of.</p>
        </div>

    </div>
</body>
</html>


