@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">About This Game Guide</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">

            <p class="lead text-center">
                The goal of this project is to create an in-depth purchasing guide for video games accross a few different genres.
            </p>

            <hr />

            <h3>Why This Project Exists</h3>
            <p>
                The project is designed to help new gamers explore different games accross genres and decide which are worth spending their time and money on. 
            </p>

        </div>
    </div>
</div>
