@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to the Game Guide</h1>
    <p class="lead">Browse Varioous Genres and Find the Perfect Game for you to Play!</p>

    <a class="btn btn-primary btn-lg"
       href="@Url.Action("GenresList", "Genre")">
        View Game Genres
    </a>
</div>
